<header id="hero" class="">
    <div class="jumbotron masthead">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="inner span4">
                    <h1>@ViewBag.Title</h1>
                    <p>A simple HTML, CSS, and Javascript website template to help promote Windows Store applications.</p>
                    <p>
                        <a class="btn btn-large btn-primary" href="@Url.Action("Download")">Download Now
                            <i class="icon-arrow-right-7"></i>
                        </a>
                        <br />
                        <span class="label label-success">Latest version: 0.1</span>
                    </p>
                    <h3>Features</h3>
                    <ul>
                        <li>Metro UI, branding, and Microsoft Surface<sup>TM</sup> smooth screenshot slider.</li>
                        <li>Fully configurable branding and content.</li>
                        <li>Customizeable and extensible UI built with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> and <a href="http://aozora.github.com/bootmetro/">BootMetro</a></li>
                        <li>Includes privacy policy template, which is required to publish in the Windows Store.</li>
                        <li><a href="https://github.com/markedup-mobi/metroappsite-mvc">Download from Github</a></li>
                    </ul>
                </div>
                <div class="span4" id="surfacedCarousel">
                    <div id="bootFlipView" class="myCarousel carousel flipview slide ">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="content/img/1m.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="content/img/2m.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="content/img/3m.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#bootFlipView" data-slide="prev">&#xe0f4;</a>
                        <a class="right carousel-control" href="#bootFlipView" data-slide="next">&#xe0f1;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="home-tiles" class="container-fluid metro-responsive-tiles">
    <div class="row-fluid">
        <div class="span4 tile wide text no-click">
            <div class="text-header">Testimonials</div>
            <div class="metro tile text5 no-click">
                <blockquote>
                    MetroAppSite helped me get an amazing, professional-looking template up and running for my Windows Store app in minutes!
                </blockquote>
                - Aaron Stannard, Ex-Microsoftie
            </div>
            <div class="metro tile text5 no-click">
                <blockquote>
                   I loved being forced to develop this!
                </blockquote>
                - Cenk Ayberkin, MarkedUp Developer
            </div>
        </div>
        <div class="span4 offset1">
            <h1>Latest</h1>
            <!--
                Go to https://dev.twitter.com/docs/embedded-timelines to get an embedded timeline for your own app   
             -->
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/MarkedUpMobi" data-widget-id="281103187757375488">Tweets by @@MarkedUpMobi</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>

