<header id="nav-bar" class="container-fluid">
    <div class="row-fluid">
        <div class="span7">
            <div id="header-container">
                <a id="backbutton" class="win-backbutton" href="@Url.Action("Index", "Home")"></a>
                <h5>MetroAppSite</h5>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <h3>Privacy Policy</h3>
    <p class="small">
        Last Updated: 12-18-2012, 9:38am
    </p>
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis nibh a mi mollis ac malesuada ligula tincidunt. 
            Praesent pulvinar mi in massa bibendum sit amet ullamcorper magna aliquet. Aliquam sed dolor ac mi elementum aliquam non vitae elit. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vitae odio ligula. 
            Aenean volutpat pretium metus id euismod. Praesent non nibh felis, sit amet eleifend purus. 
            Duis eros augue, eleifend id tempor eu, ultrices posuere leo. Integer est quam, tincidunt eget cursus eget, interdum ut lacus. 
            Vestibulum non eros ut risus adipiscing sodales.
        </p>
    </blockquote>
    <p>
        Nulla non mauris ante, et aliquet augue. Nam interdum scelerisque ipsum ullamcorper vestibulum. 
        Aenean quis ullamcorper lectus. Nunc eu aliquam tellus. Quisque pharetra purus eu arcu egestas vitae pellentesque lacus sollicitudin. 
        Maecenas mollis, metus id eleifend ultricies, libero lacus vehicula ante, ac porttitor erat sapien feugiat lectus. 
        Maecenas imperdiet bibendum urna, ac faucibus dolor malesuada placerat.
        Aenean fringilla, nisi auctor blandit pretium, nulla velit lobortis nibh, sit amet interdum massa nisl nec magna. 
        Donec pulvinar orci sit amet tellus fermentum sit amet laoreet velit lobortis. Proin ante tellus, lobortis quis vestibulum sed, mattis sit amet leo. 
        Aenean nec enim in libero mollis feugiat. Sed sed erat in purus sagittis malesuada sed nec erat. Sed porttitor feugiat lectus, nec tempus mi pharetra id. 
        Aenean mollis bibendum rhoncus. Nunc nec aliquet leo. Morbi auctor dui lacus.
    </p>
    <p>
        Phasellus in pulvinar lorem. Integer hendrerit rutrum metus, et scelerisque metus pretium ac. 
        Etiam enim mi, ornare non gravida at, egestas sollicitudin nibh. Nullam et mi libero. 
        Donec feugiat, sapien eget scelerisque eleifend, ipsum sapien ullamcorper ligula, ut dictum velit arcu vel elit. 
        Suspendisse ac sapien risus, sed iaculis elit. Donec mattis sodales augue id fringilla. Maecenas mollis bibendum sem, quis feugiat ligula
        vulputate molestie. Maecenas quis ipsum sed dui dictum hendrerit. Donec et augue ac justo mattis porta nec et sapien. 
        Aliquam consectetur vehicula sem, malesuada tincidunt neque molestie et. Pellentesque sagittis tempor mattis. 
        Fusce nunc augue, facilisis non semper in, accumsan egestas neque. Morbi quam justo, vestibulum id porttitor eu, vehicula nec diam. 
        Mauris sed convallis ipsum.
    </p>
    <p>
        Vestibulum arcu nibh, adipiscing sed pharetra vitae, varius a velit. Cum sociis natoque penatibus et magnis 
        dis parturient montes, nascetur ridiculus mus. Nam laoreet turpis quis nisl tincidunt vestibulum. 
        Aenean sit amet arcu a odio elementum bibendum a ac ante. Maecenas faucibus sem et magna vulputate rutrum. Fusce et accumsan est.
        Mauris augue dui, consectetur in convallis sed, tempor vel augue. Fusce eros arcu, gravida a pellentesque sit amet, molestie nec sem. 
        Integer et lectus nec libero blandit lacinia non in felis. Phasellus molestie massa eget tellus fermentum a placerat leo sodales. 
        In sollicitudin erat vitae tellus fermentum quis mollis ipsum mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Duis sit amet nunc erat, ac luctus magna. Sed at rutrum est. Cras pretium fringilla lectus, a bibendum nibh tristique sed.
    </p>
    <p>
        Nullam varius, neque id euismod blandit, erat orci pulvinar risus, ut viverra lectus sapien vel nisi.
        Duis ac dolor nec odio pretium lobortis in nec ipsum. Morbi sit amet rutrum mi. Suspendisse potenti. Ut nisl nisl, 
        laoreet et pellentesque at, tempus adipiscing dolor. Curabitur feugiat interdum nibh, a accumsan lorem euismod non. Vivamus luctus nisi 
        vitae tellus congue rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ultrices egestas 
        feugiat. Sed a ante ut nunc ullamcorper blandit.
    </p>
    <hr/>
    <p>
        This app utilizes <a href="https://markedup.com/">MarkedUp Analytics for Windows 8</a> and observes their <a href="https://markedup.com/privacy">privacy policy</a>.
    </p>
</div>


