<footer class="win-commandlayout navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="span6 align-left">
                <a href="@Url.Action("Index", "Home")" class="win-command">
                    <span class="win-commandimage win-commandring">&#x0021;</span>
                    <span class="win-label">Home</span>
                </a>
                <hr class="win-command"/>
                <a href="@Url.Action("Privacy", "Home")" class="win-command">
                    <span class="win-commandimage win-commandring">&#xe1e3;</span>
                    <span class="win-label">Privacy</span>
                </a>
            </div>
        </div>
    </div></footer>