<footer class="win-commandlayout navbar-fixed-bottom win-ui-light">
    <div class="container">
        <div class="row">
            <div class="span6 align-left">
                <a href="@Url.Action("Index", "Home")" class="win-command">
                    <span class="win-commandimage  icon-home-4 win-commandring"></span>
                    <span class="win-label">Home</span>
                </a>
                <hr class="win-command"/>
                <a href="" class="win-command">
                  <span class="win-commandimage win-commandring">&#xE01D;</span>
                  <span class="win-label">Download</span>
               </a>

                <a href="@Url.Action("Privacy", "Home")" class="win-command">
                    <span class="win-commandimage win-commandring  icon-key-stroke"></span>
                    <span class="win-label">Privacy</span>
                </a>
            </div>
        </div>
    </div>
</footer>